extends layout

block content
   section(class='sb-site-content')
      article
         h1 Register API
         a(class='button',
         href='https://cloud.aerohive.com/thirdpartylogin?client_id=#{client_id}&redirect_uri=#{redirect_url}') Register

      article
         h1 Bind AP to classrooms

      article
         h1 Access