extends layout
block content
    div(class="jumbotron")
        h1 School Control
        p(class="lead") This section is still under construction!!!
        a(class="btn btn-success", id="btn") By Thomas Munzer
