extends layout_admin

block content
    div(class="jumbotron", style="float:left; width:100%")
        section(id="test")

    script.
        $(document).ready(
            socket.on("device", function (device) {
                var apString = "";
                for (var param in device){
                    apString += param + ": " + device[param] + "</br>";
                }
                $("#test").append("<article style='float:left; width:30%;'>" + apString + '</article>');
            })
        )

