extends layout

block content
    div(class="jumbotron")
        h1 Demo NodeJs
        p(class="lead") Build with Node.js, Express, Jade & Twitter Bootstrap !
        a(class="btn btn-success", id="btn") By Code4Fun.fr

