extends layout

block admin
    if schoolList
        if user.GroupId == 1
            div
                ul(class="nav nav-pills pull-right")
                    li
                        form(id="changeSchoolForm" action="/admin/changeSchool" method="POST")
                            select(class="form-control" name="SchoolId" id="SchoolId")
                                each school in schoolList
                                    if school.id == session.SchoolId
                                        option(value=school.id selected="selected")= school.schoolName
                                    else
                                        option(value=school.id)= school.schoolName

    script.
        $("#SchoolId").change(function () {
            $('#changeSchoolForm').submit();
        })