doctype html
html
   head
      title= title
      meta(name="viewport" content="width=device-width, initial-scale=1")
      script(type='text/javascript' src='./javascripts/jquery-2.1.1.min.js')
      script(type='text/javascript' src='./javascripts/bootstrap.min.js')
      script(type='text/javascript' src='./javascripts/FaviconAwesome.js')
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
      link(rel='stylesheet', href='/stylesheets/node_app.css')
   body
      div
         section
            article
               div(class="unput-group")
               <div class="input-group">
               <span class="input-group-addon" id="basic-addon1">@</span>
               <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
               </div>