doctype html5
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="/i18n/web-app/en.js")
        script(src="/i18n/web-app/fr.js")
        link(rel="stylesheet" href="/bower_components/material-design-icons/iconfont/material-icons.css")
        link(rel="stylesheet" href="/bower_components/angular-material-data-table/dist/md-data-table.min.css")
        link(rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css")
        link(rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css")
        link(rel='stylesheet' href='/bower_components/sc-date-time/dist/sc-date-time.css')
        link(rel='stylesheet' href='/css/ah-tm.dashboard.css')
        link(rel='stylesheet' href='/css/ah-tm.tags.css')
        link(rel='stylesheet' href='/css/ah-tm.cards.css')
        link(rel='stylesheet' href='/css/ah-tm.md-table.css')
        link(rel='stylesheet' href='/css/ah-tm.md-list.css')
        link(rel='stylesheet' href='/css/ah-tm.header.css')
        link(rel='stylesheet' href='/css/ah-tm.label.css')
        link(rel='stylesheet' href='/css/ah-tm.datetime.css')
        script(src="/bower_components/angular/angular.min.js")
        script(src='/bower_components/sc-date-time/dist/sc-date-time.js')
        script(src="/bower_components/angular-aria/angular-aria.js")
        script(src="/bower_components/angular-animate/angular-animate.min.js")
        script(src="/bower_components/angular-material/angular-material.js")
        script(src="/bower_components/angular-messages/angular-messages.js")
        script(src="/bower_components/angular-material-data-table/dist/md-data-table.min.js")
        script(src="/bower_components/angular-route/angular-route.min.js")
        script(src="/bower_components/angular-bootstrap/ui-bootstrap.js")
        script(src="/bower_components/angular-translate/angular-translate.min.js")
        script(src="/web-app/app.js")
        script(src="/web-app/routes.js")
        script(src="/web-app/filters/filters.js")
        script(src="/web-app/classroom/controller.js")
        script(src="/web-app/classroom/service.js")
        script(src="/web-app/device/controller.js")
        script(src="/web-app/device/service.js")
        script(src="/web-app/schedule/controller.js")
        script(src="/web-app/schedule/service.js")
        script(src="/web-app/settings/controller.js")
        script(src="/web-app/settings/service.js")
        script(src="/web-app/modals/controller.js")
        script(src="/web-app/modals/service.js")
        script(src="/web-app/ng-sanitize.js")
    body(ng-app="cwa").icons-docs(ng-controller="UserCtrl as UserCtrl")

        header.md-page-header(ng-controller="HeaderCtrl")
            input(type='hidden' name="clientId" value=clientId ng-model="clientId")
            input(type='hidden' name='redirectUrl' value=redirectUrl ng-model="redirectUrl")
            input(type='hidden' name='GroupId' value=GroupId ng-model="GroupId")
            div.header
            md-toolbar.header.fixed(layout='row')
                h1.logo.md-toolbar-tools
                    img(src="/images/logo.png" alt="Aerohive")
                span(flex)
                md-input-container.md-block.flex-gt-sm
                    label
                        span(translate="layout.school")
                    md-select(ng-model="schoolId" aria-label="Schools" ng-disabled="schools.length == 1")
                        md-option(value="{{school.id}}" ng-repeat="school in schools") {{school.schoolName}}
                md-menu
                    md-button(aria-label="language" ng-click="UserCtrl.openMenu($mdOpenMenu, $event)" style="min-width: 20px;")
                        md-tooltip(md-direction="bottom" md-visible="tooltipVisible") {{"button.language" | translate}}
                        md-icon(class="material-icons" aria-label="language") language
                    md-menu-content
                        md-menu-item
                            md-button(ng-controller="ModalCtrl" ng-click="UserCtrl.translate('en')")
                                span(style="display: inline-flex; margin-right: 5px;")
                                    div.iti-flag.gb
                                span English
                        md-menu-item
                            md-button(ng-controller="ModalCtrl" ng-click="UserCtrl.translate('fr')")
                                span(style="display: inline-flex; margin-right: 5px;")
                                    div.iti-flag.fr
                                span Francais
                md-menu
                    md-button(aria-label="menu" ng-click="UserCtrl.openMenu($mdOpenMenu, $event)" style="min-width: 20px;")
                        md-tooltip(md-direction="bottom" md-visible="tooltipVisible") {{"button.menu" | translate}}
                        md-icon(class="material-icons" aria-label="menu") more_vert
                    md-menu-content
                        md-menu-item
                            md-button(ng-click="myAccount()")
                                md-icon(md-menu-align-target) info
                                span(translate="layout.details")
                        md-menu-item
                            md-button(href="/login/logout/")
                                md-icon(md-menu-align-target) exit_to_app
                                span(translate="layout.logout")
            md-toolbar.md-menu-toolbar(layout="row")
                md-toolbar-filler(layout layout-align="center center" style="width:250px; background-color: white" hide-xs hide-sm hide-md)
                md-menu-bar.main-menu
<<<<<<< HEAD
                    md-button(href="#!/monitor" ng-class="{cur: nav.isActive('classroom')}")
                        md-icon.material-icons.md-24 school
                        div(translate="layout.classrooms")
                    md-button(href="#!/schedules/" ng-class="{cur: nav.isActive('schedules')}")
                        md-icon.material-icons.md-24 date_range
                        div(translate="layout.schedules")
                    md-button(href="#!/devices" ng-class="{cur: nav.isActive('devices')}" ng-if="authorizedLevel(2)")
                        md-icon.material-icons.md-24 wifi
                        div(translate="layout.devices")
                    md-button(href="#!/settings/" ng-class="{cur: nav.isActive('settings')}" ng-if="authorizedLevel(2)")
=======
                    md-button(href="classroom" ng-class="{cur: nav.isActive('classroom')}")
                        md-icon.material-icons.md-24 school
                        div(translate="layout.classrooms")
                    md-button(href="schedules" ng-class="{cur: nav.isActive('schedules')}")
                        md-icon.material-icons.md-24 date_range
                        div(translate="layout.schedules")
                    md-button(href="devices" ng-class="{cur: nav.isActive('devices')}" ng-if="authorizedLevel(2)")
                        md-icon.material-icons.md-24 wifi
                        div(translate="layout.devices")
                    md-button(href="settings" ng-class="{cur: nav.isActive('settings')}" ng-if="authorizedLevel(2)")
>>>>>>> d79bc444facf0585f5561b8780200727f09ffd60
                        md-icon.material-icons.md-24 settings
                        div(translate="layout.settings")
        div(id="main")
            md-button.md-fab.md-warn.md-mini(aria-label="menu" style="position: fixed; bottom: 20px; left: 20px" ng-show="UserCtrl.showFab()" hide-gt-md ng-click='UserCtrl.sideNav("left")')
                md-icon.material-icons.md-12 menu
            ng-view
