
/*============================================== /
/ ================== TOP HEADER ================ /
/ ============================================== */
.head-inner {
    position: fixed;
    height: 76px;
    width: 96%;
    margin: 0 2% 0 2%;
    background-color: #175797;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}
/* =================LOGO======================= */
.head-button{
    color: white;
    text-align: center;
    position: relative;
    z-index: 75;
    min-height: 75px;
    float: left;
}
.head-button i {
    margin-right: 10px;
}
.head-button li.cur,
.head-button li.cur * {
    background: #267ED5 !important;
    transition: all .2s ease-in-out;
}

.head-button li {
    min-width: 100px;
    line-height: 75px;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    background-color: #175797;
    color: #fff;
    border-radius: 0;
    display: inline-block;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 0 1px;
    vertical-align: middle;
    position: relative;
    border: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}
.head-button .head-nav a {
    padding: 30px 20px;

}
.head-button li a,
.head-button li i,
.head-button li span {
    background-color: #175797;
    color: white;
    transition:all .2s ease-in-out;
    text-decoration: none;
}

.head-button li:hover{
    box-shadow: 0 0 1px 1px rgba(100,100,100,0.5) inset;
    transition: all .2s ease-in-out;
}
.head-button li:hover,
.head-button li:hover a,
.head-button li:hover i,
.head-button li:hover span {
    background: #267ED5 !important;
    transition: all .2s ease-in-out;
}
/* =================LOGO======================= */
.logo {
    width: 200px;
    text-align: center;
    height: 75px;
    vertical-align: middle;
    margin: auto;
    float: left;
}

img {

    cursor: pointer;
    height: 55px;
    vertical-align: middle;
    margin: auto;
}
/* =================MENU======================= */
.login-area {
    float: left;
    position: relative;
    width: 1000px;
    z-index: 948;
}
.head-nav {
    float: left;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    margin: 1px 0 0 0;
    height: 75px;
    padding: 0;
}


.hdrOptions {
    position: absolute;
    right: 0;
}

.hdrOptions ul {
    margin: 0;
}

.user-list {
    margin-right: 10px !important;
}
