.square td div {
    box-shadow: 3px 3px 20px #BBB;
    border-radius:3px;
    float:left;
    width:80%;
    margin: 1em;
    padding: 1em;
}

.square td {
    vertical-align: top;
}

table {
    width: 100%;
}


.tab-pane {
    margin-top: 1em;
}